
=image_tag @pin.image.url(:medium)
%h1= @pin.title

%p= simple_format(@pin.description)

=link_to "Edit",edit_pin_path(@pin), class:"btn btn-primary"
=link_to "Delete", @pin, method: :delete, data:{confirm: "Are you sure?"},class:"btn btn-danger"
=link_to "Back", root_path, class:"btn btn-success"
